{% load static %}
<footer class="s-footer footer">

        <div class="row section-header align-center">
            <div class="col-full">
                <img src="{% static "global/images/logo_corretor_ai.png" %}" alt="RedAI" srcset="">
            </div>
        </div>

        <div class="row footer__bottom">

            <div class="footer__about col-five tab-full left">

                <h4>Sobre o RedAI.</h4>

                <p>
                O RedAI foi desenvolvido para corrigir redações do Enem é um sistema avançado de aprendizado de máquina treinado especificamente para avaliar textos conforme os critérios estabelecidos pelo Exame Nacional do Ensino Médio (Enem). Utilizando uma vasta base de dados composta por redações anteriores, a IA foi calibrada para entender e aplicar as cinco competências avaliadas no Enem.
                </p>

                <ul class="footer__social">
                    <li><a href="https://github.com/Markfgui675" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/marcos-fellipe-guimarães-b503b51b3/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/marcos_fellipe_7/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-five md-seven tab-full right end">
                <div class="row">

                    <div class="footer__site-links col-five mob-full">
                        <h4>Links.</h4>

                        <ul class="footer__site-links">
                            {% if index %}
                                <li><a href="#home" class="smoothscroll">Início</a></li>
                                <li><a href="#about" class="smoothscroll">Sobre</a></li>
                            {% else %}
                                <li><a href="{% url "index" %}">Início</a></li>
                                <li><a href="{% url "index" %}#about">Sobre</a></li>
                            {% endif %}
                            <li><a href="{% url "corretor-ia" %}" class="smoothscroll" target="_blank">Corretor</a></li>
                            <li><a href="{% url "politica" %}">Política de privacidade</a></li>
                        </ul>
                    </div>

                    <div class="footer__contact col-seven mob-full">
                        <h4>Desenvolvido por</h4>

                        <p>
                        <a href="https://www.linkedin.com/in/marcos-fellipe-guimarães-b503b51b3/" target="_blank">Marcos Fellipe Guimarães</a><br>
                        Tel: +55 61 98212-7327
                        </p>
                        <p>
                        Precisa de ajuda ou tem alguma dúvida? Entre em contato comigo: <br>
                        <a href="mailto:#marcosfgui2006@gmail.com" class="footer__mail-link">marcosfgui2006@gmail.com</a>
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-full ss-copyright">
                <span>&copy; Copyright RedAI 2024</span> 
                <span>Design by <a href="https://www.styleshout.com/">styleshout</a></span>
            </div>

        </div> <!-- end footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#home"></a>
        </div>

    </footer>