{% load static %}
{% if index %}
<header class="s-header">

        <div class="row">
            <div class="header-logo">
                <a class="site-logo" href="{% url "index" %}">
                    <img src="{% static "global/images/logo_corretor_ai.png" %}" alt="Homepage">
                </a>
            </div>
    
            <nav class="header-nav-wrap">
                <ul class="header-main-nav">
                    <li class="current"><a class="smoothscroll" href="#home" title="intro">Início</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">Sobre</a></li>
                </ul>
    
                <div class="header-cta">
                    <a>Versão beta</a>
                    
                    <a href="{% url "corretor-ia" %}" class="btn btn--primary header-cta__btn">Começar</a>
                </div>
            </nav> <!-- end header-nav-wrap -->
    
            <a class="header-menu-toggle" href="#"><span>Menu</span></a>
        </div>

    </header>
{% else %}
<header class="s-header-corretor">

    <div class="row">
        <div class="header-logo">
            <a class="site-logo" href="{% url "index" %}">
                <img src="{% static "global/images/logo_corretor_ai.png" %}" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a href="{% url "index" %}" title="intro">Início</a></li>
                <li><a href="{% url "index" %}#about" title="about">Sobre</a></li>
            </ul>
            <div class="header-cta">
                <a>Versão beta</a>
            </div>
        </nav> <!-- end header-nav-wrap -->

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    </div>

</header>
{% endif %}