{% extends "global/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "global/css/corretor.css" %}">
{% endblock extra_css %}

{% block content %}

<header class="s-header-corretor">

    <div class="row">
        <div class="header-logo">
            <a class="site-logo" href="{% url "index" %}">
                <img src="{% static "global/images/logo_corretor_ai.png" %}" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a href="{% url "index" %}" title="intro">Início</a></li>
                <li><a href="{% url "index" %}#about" title="about">Sobre</a></li>
            </ul>
            <div class="header-cta">
                <a>Versão beta</a>
            </div>
        </nav> <!-- end header-nav-wrap -->

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    </div>

</header>

{% if messages %}
    {% for message in messages %}
        <div class="message {{message.tags}}">
            {{message}}            
        </div>
    {% endfor %}
{% endif %}

<div class="title-register">
    <h1>
        Criar conta
    </h1>
</div>

<div class="container-register">
    <div class="form">
        {% include "global/partials/form.html" %}
    </div>
</div>  

{% endblock content %}
