{% extends "global/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "global/css/corretor.css" %}">
{% endblock extra_css %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="message {{message.tags}}">
            {{message}}            
        </div>
    {% endfor %}
{% endif %}

<div class="title-register">
    <h1>
        Criar conta
    </h1>
</div>

<div class="container-register">
    <div class="form">
        {% include "global/partials/form.html" %}
    </div>
</div>  

{% endblock content %}
