{% extends "global/base.html" %}
{% load static %}

{% block content %}

    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static "global/images/hero-bg.jpg" %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <div class="home-content__left">
                    <h1>
                    Seu corretor de <br>
                    redações do Enem.
                    </h1>
    
                    <h3>
                    O RedAI é um ML treinado especificamente para avaliar textos conforme os critérios estabelecidos pelo Exame Nacional do Ensino Médio (Enem).
                    </h3>
    
                    <div class="home-content__btn-wrap">
                        <a href="{% url "corretor-ia" %}" class="btn btn--primary">
                            Começar
                        </a>
                    </div>
                </div> <!-- end home-content__left-->

                <div class="home-content__right">
                    <img src="{% static "global/images/note_ia_800.png" %}" srcset="{% static "global/images/note_ia_800.png" %} 1x, {% static "global/images/note_ia_1600.png" %} 2x">
                </div> <!-- end home-content__right -->

            </div> <!-- end home-content__main -->

            <ul class="home-content__social">
                <li><a href="https://github.com/Markfgui675" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/marcos-fellipe-guimarães-b503b51b3/" target="_blank">Linkedin</a></li>
                <li><a href="https://www.instagram.com/marcos_fellipe_7/" target="_blank">Instagram</a></li>
            </ul>

        </div> <!-- end home-content -->

        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">Scroll</span>
            <span class="home-scroll__icon"></span>
        </a> 

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1">
                    O RedAI vai te ajudar a conquistar a sua vaga na universidade.
                </h1>
                <p class="lead">
                    O RedAI é capaz de fornecer feedback detalhado sobre cada competência, destacando pontos fortes e sugerindo melhorias. Além disso, oferece uma pontuação estimada para cada redação, ajudando os candidatos a entenderem suas áreas de aprimoramento.
                </p>
            </div>
        </div> <!-- end section-header -->

        <div class="row wide about-desc" data-aos="fade-up">

            <div class="col-full slick-slider about-desc__slider">

                <div class="about-desc__slide">
                    <h3 class="item-title">Competência 1: domínio da norma padrão</h3>

                    <p>
                    O RedAI verifica a correção gramatical, ortográfica e sintática do texto, identificando e sugerindo correções.
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Competência 2: proposta da redação</h3>

                    <p>
                    O RedAI avalia se a redação atende ao tema proposto, se os argumentos são relevantes e bem fundamentados.
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Competência 3: organização dos argumentos</h3>

                    <p>
                    O RedAI analisa a coesão e coerência do texto, verificando a estrutura lógica dos parágrafos e a clareza dos argumentos apresentados.
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Competência 4: conhecimento dos mecanismos linguísticos</h3>

                    <p>
                    O RedAI examina o uso adequado de recursos coesivos, conectores e a articulação das ideias no texto.
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                    <h3 class="item-title">Competência 5: proposta de intervenção</h3>

                    <p>
                    O RedAI verifica se o candidato apresentou uma solução para o problema discutido, considerando a viabilidade e o respeito aos direitos humanos.
                    </p>
                </div>

            </div> <!-- end about-desc__slider -->
            
        </div> <!-- end about-desc -->

    </section> <!-- end s-about -->


    <!-- about-how
    ================================================== -->
    <section id="about-how" class="s-about-how">

        <div class="row process-wrap">

            <h2 class="display-2 text-center" data-aos="fade-up">Como funciona?</h2>

            <div class="process" data-aos="fade-up">
                <div class="process__steps block-1-2 block-tab-full group">

                    <div class="col-block step">
                        <h3 class="item-title">Envie a sua redação</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>

                    <div class="col-block step">
                        <h3 class="item-title">O RedAI a corrige</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>
               
                    <div class="col-block step">
                        <h3 class="item-title">Feedbacks</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>

                    <div class="col-block step">
                        <h3 class="item-title">Send</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>  

                </div> <!-- end process__steps -->
           </div> <!-- end process -->
        </div> <!-- end about-how -->

    </section> <!-- end s-about-how -->

{% endblock content %}